<ul>
  <li>Hola mundo</li>
  <li>Hola mundo</li>
  <li>Hola mundo</li>
</ul>

<table>
  <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
  </tbody>
</table>