<h1>Show Todo list</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @todo_list.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.todo_list_path(@conn, :edit, @todo_list) %></span> |
<span><%= link "Back", to: Routes.todo_list_path(@conn, :index) %></span>
